*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: rgb(239, 242, 245);
}
.account{
  height: 100vh;
}
.navigation{
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 3px 3px 3px;
  background: rgb(198, 200, 202);
  padding-right: 15px;
}
.fas{
  display: none;
}
.logo{
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #333;
  color: white;
}
.logo a{
  font-size: 10px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}
.menu-items{
  padding-right: 20px;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
ul li{
  list-style: none;
  display: inline-block;
  /* border: 2px solid white; */
  margin: 10px;
  
}
ul li a{
  text-decoration: none;
  font-size: 30px;
  position: relative;
  color: blueviolet;
  
}
li a::after{
  content: "";
  width: 0;
  height: 3px;
  background: hsla(249, 96%, 27%, 0.833);
  position: absolute;
  display: block;
  transition: 0.5s;
}
li a:hover::after{
  width: 100%;
}

.logo:hover{
  background: hsla(249, 10%, 74%, 0.833);
  color: rgb(76, 59, 59);
  
}
.show{
  display: block;
}
.del{
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:768px) {
  i{
    font-size: 30px;
    color: hsla(249, 96%, 27%, 0.833);
  }
  .fa-bars{
    font-size: 50px;
  }
  .fas{
      display: block;
  }
  .fa-times{
    font-size: 30px;
  }
  .navigation{
      position: relative;

  }
  .menu-items{
    width: 30%;
    position: absolute;
    padding: 0 10px;
    top: 20px;
    right: 0;
    border: 2px solid black;
    display: none;
    background: #ecebeb;
    margin-right: 1rem;
  }
  .show{
      display: block;
  }
  ul li{
      display: block;
      margin: 20px 8px;
  }
  ul li a{
      font-size: 25px;
      
  }
  .search{
    margin-right: 3.5rem;
  }
  .search-section h3{
    display: none;
  }
  .search-section p{
    display: inline;
  }
  .hm{
    margin-top: 3rem;
  }
  .account{
    height: 70vh;
  }
  .del{
    display: block;
    text-align: right;
  }

}

@media screen and (max-width:350px) {
  .search{
    margin-right: 1px;
  }
  .del{
    display: block;
    text-align: right;
  }
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.media{
  display: flex;
}
.media img{
  border: 1px solid rgb(192, 192, 198);
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.pop{
  margin-top: 4rem;
}
.search{
  position: absolute;
  top: 0;
  right: 0;
}
.about{
  height: 80vh;
}
.login , .register{
  height: 80vh;
}
/* footer */
.footer{
  border-top: 1px solid black;
  padding: 0 20px;
}
.info{
  width: 70%;
  margin:0 auto;
  text-align: center;
}
