{% extends "layout.html" %}
{% block body%}
    <div class="about">
        <h1>Cmm blog</h1>
        <p>Cmm blog is a user friendly blog which enables users to create post about any topics and upload them for others to read</p>
        <p>It is a platform where people get the chance to write since many people don't get to have those chances to express themselves. It is a good oppoturnity for those starting there bloger carreer or anyone who is intrested but afraid to start this gives them the perfect chance to do so</p>
    </div>
{% endblock %}
