{% extends "layout.html" %}
{% block body%}
<div class="hm">
  <h1 style="text-align: center;">Cmm Blog</h1>
  <p style="text-align: center; font-size: 20px">Where creativity and best blog posts are served</p>
  {% for post in posts.items %}
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        </div>
        <h2><a class="article-title" href="{{ url_for('post',post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <small class="text-muted">Posted on: {{ post.date_posted }}</small>
      </div>
    </article>
  {% endfor%}
  {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=2,right_current=2)%}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      {%endif%}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
</div>


    <div class="search">
        <div class="search-section">
          <h3>Search Section</h3>
          <form action="{{url_for('search')}}" method="POST">
            {{ form.hidden_tag() }}
            <p>
              {{ form.searched(placeholder="search title") }}
            </p>
            <p>{{ form.submit }}</p>
          </form>
        </div>
    </div>

{% endblock %}



